.box {
   padding: 10px;
   margin: 10px;
   width: 250px;
   height:50px;
}

.green {
   background-color:#00cc00;
}

.red {
   background-color:#ee0000;
}

.heading {
   font-weight: bold;
   font-size: x-large;
   padding: 20px;
}

.label {
   padding-top: 15px;
 }